body {
background-color: #D0F0C0;
text-align: center;
}
h1 {
  text-align: center;
  background-color: yellow;
}
h2, h3, h4, h5, h6 {
  text-align: center;
  background-color: pink; /* that's the code for scarlet red */
  font-size: 25px;
}
p {
  font-size: 30px;
}
