body {
background-color: #FFFFFF;
text-align: center;
}
h1 {
  text-align: center;
  background-color: orange;
}
h2, h3, h4, h5, h6 {
  text-align: center;
  background-color: purple; /* that's the code for scarlet red */
  font-size: 25px;
}
p {
  font-size: 30px;
}
